#firstMainContent {
  /* display: none; */
  color: #fff;
  padding-bottom: 348px;
}

#firstMainContentOne {
  padding-top: 324px;
  font-size: x-large;
}

#firstMainContentTwo {
  font-size: x-large;
}