#linksAndDeclare {
  /* display: none; */
  display: block;
  background-color: lightgray;
}

#linksAndDeclareLeft {
  display: inline-block;
  width: 48%;
}

#linksAndDeclareLeftHeadline {
  text-align: left;
  padding-left: 20%;
  padding-top: 32px;
}

#linksAndDeclareLeftHeadlineContent {
  font-size: 32px;
}

#linksAndDeclareLeftContent {
  padding-top: 48px;
  padding-left: 20%;

}

#linksAndDeclareLeftContent ul li {
  text-align: left;
}

#linksAndDeclareLeftContent ul li a {
  display: flex;
  cursor: pointer;
}

#linksAndDeclareLeftContent ul li span {
  font-size: 18px;
  padding-left: 8px;
  letter-spacing: 2px;
}

#linksAndDeclareRight {
  display: inline-block;
  width: 48%;
  padding-top: 32px;
  font-size: 32px;
  vertical-align: top;
}

#linksAndDeclareBottom {
  display: block;
  padding-top: 54px;
}

#linksAndDeclareBottom span {
  font-size: 14px;
}