#bottom {
  /* display: none; */
  display: block;
  width: 100%;
  height: 840px;
  background-color: #fff;
  animation: colorFadeOut ease 5s;
}

#bottom:hover {
  /* background-color: #f6e043; */
  animation: colorFadeIn ease 5s;
}

#bottomContent {
  padding-bottom: 5%;
  height: 100%;
}

/* #bottomContent:hover {
  background-color: #f6e043;
} */

#bottomTop {
  padding-top: 14%;
  width: 100%;
  justify-content: center;

}

#bottomTopContent {
  font-size: 300%;
  text-align: center;
}

#bottomLeft {
  float: left;
  width: 33%;
  padding-top: 8.5%;
  padding-bottom: 8.5%;
  text-align: center;

}


li {
  list-style: none;
  text-align: center;
}

li a {
  color: black;
  text-decoration: none;
}

#bottomLeftContent {
  font-size: 300%;
  height: 380px;
  color: black;
}

#bottomRight {
  text-align: center;
  float: left;
  width: 33%;
  padding-top: 8.5%;
  padding-bottom: 8.5%;
}

#bottomRightContent {
  font-size: 300%;
}

#bottomMiddle {
  float: left;
  width: 33%;
  height: 300px;

}

#bottomMiddleContent {
  font-size: 300%;
  padding-top: 17.5%;
  padding-bottom: 8.5%;
  margin: 0;
}

@-webkit-keyframes colorFadeIn {
  from {
    background-color: #fff;
  }

  to {
    background-color: #f6e043;
  }
}

@-webkit-keyframes colorFadeOut {
  from {
    background-color: #f6e043;
  }

  to {

    background-color: #fff;
  }
}