#threePics {
  padding-top: 200px;
  padding-bottom: 100px;
  display: block;
  width: 100%;
  height: 900px;
}

#threePicsLeft {
  float: left;
  padding-left: 28px;
  padding-top: 244px;
  width: 48%;

}

#threePicsRight {
  vertical-align: middle;
  float: left;
  width: 48%;
}

#threePicsFirst {
  width: 90%;
}

#threePicsFirst img {
  margin-right: 10%;
  width: 100%;
}

#threePicsSecond {
  width: 100%;
  padding-bottom: 8%;
}

#threePicsSecond img {
  width: 100%;
}

#threePicsThird {
  width: 100%;
  border: 2px solid black;
  z-index: 1;
  box-shadow: 10px 10px 5px #888888;
}

#threePicsThird img {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}